@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: $zindex-fixed;
    }

    .progress-container {
        width: 100%;
        background-color: transparent;
        height: 5px;
        display: block;
    }

    .progress-bar {
        background-color: #3ABFF8;
        display: block;
        height: inherit;
    }

    #language {
        text-decoration: underline;
        text-decoration-color: #0ea5e9;
    }
}